#homeHeader {
    font-family: "Playfair Display", serif;
    font-optical-sizing: auto;
    font-weight: 550;
    font-style: normal;
}

.nav-link {
    font-family: "Playfair Display", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    color: black;
}